# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Other
*.tmp
*.log
